/* You can add global styles to this file, and also import other style files */
@use 'bootstrap/scss/bootstrap';

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

.roboto-semibold {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

.roboto-regular {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

:root {
  --bs-body-font-family: 'Roboto', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
}

:root {
  .snackbar-error .mdc-snackbar__surface {
    background-color: #c62828 !important;
    color: #ffffff !important;
  }

  .snackbar-success .mdc-snackbar__surface {
    background-color: #2e7d32 !important;
    color: #ffffff !important;
  }

  .snackbar-warning .mdc-snackbar__surface {
    background-color: #e65100 !important;
    color: #ffffff !important;
  }
}
